* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.photo {
    border: 2px solid lightgray;
    border-radius: 9px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.scrollh {
    border: 1px solid black;
    height: 100px;
    width: 100%;
}

img {
    height: 250px;
    object-fit: contain;
}